<% content_for :use_login do %>

<h1>Please Log in below or Clcik <%= link_to "here", new_user_path %> to Register.</h1>

<div class="login_form">
<%= form_tag '/login', method: :post do %>
<p  class="pemail">
	<%= label_tag :email %>
	<%= email_field_tag :email %>
</p>
<p class="ppassword">
	<%= label_tag :password %>
	<%= password_field_tag :password %>
</p>
	<%= submit_tag :Login, :class => 'submitbtn' %>
	
<% end %>

</div>
<% end %>


