<% if @user.errors.any? %>
	<% @users.errors.full_messages.each do |error| %>
	<p style="color: #E55451;">error text<%= error %></p>
	<% end %>
<% end %>


<%= form_for @user do |f| %>

<p>
	<%= f.label :username %>
	<%= f.text_field :username, placeholder: 'Username' %>
</p>

<p>
	<%= f.label :fname %>
	<%= f.text_field :fname, placeholder: 'First Name'	%>
</p>

<p>
	<%= f.label :lname %>
	<%= f.text_field :lname, placeholder: 'Last Name' %>
</p>

<p>
	<%= f.label :bio %>
	<%= f.text_field :bio, placeholder: 'Bio'%>
</p>


<p>
	<%= f.label :email %>
	<%= f.email_field :email, placeholder: 'E-mail'%>
</p>


<p>
	<%= f.label :password %>
	<%= f.password_field :password, placeholder: 'Password'%>
</p>

<p>
	<%= f.label :city %>
	<%= f.text_field :city, placeholder: 'City'%>
</p>

<p>
	<%= f.label :state %>
	<%= f.text_field :state, placeholder: 'State/Province' %>
</p>

<p>
	<%= f.label :country %>
	<%= f.text_field :country, placeholder: 'Country'%>
</p>

<div class="submitb">
	<%= f.submit %>
</div>	


<% end %>