<% content_for :use_login do %>

<% if @user.errors.full_messages.any? %>
<ul>
	<% @user.errors.full_messages.each do |error| %>
	<li style="color: #E55451;"><%= error %></li>
	<% end %>
</ul>
<% end %>

<div id="signup_form">
<%= form_for @user do |f| %>

<p>
	<%= f.text_field :username, placeholder: 'Username', height: '10px', width: '50px'%>
</p>

<p>
	<%= f.text_field :fname, placeholder: 'First Name'	%>
</p>

<p>
	<%= f.text_field :lname, placeholder: 'Last Name' %>
</p>

<p>
	<%= f.text_field :bio, placeholder: 'Bio'%>
</p>


<p>
	<%= f.email_field :email, placeholder: 'E-mail'%>
</p>

<p>
	<%= f.email_field :email_confirmation, placeholder: 'Please re-enter your e-mail'%>
</p>

<p>
	<%= f.password_field :password, placeholder: 'Password'%>
</p>

<p>
	<%= f.password_field :password_confirmation, placeholder: 'Please re-enter your password'%>
</p>

<p>
	<%= f.text_field :city, placeholder: 'City'%>
</p>

<p>
	<%= f.text_field :state, placeholder: 'State/Province' %>
</p>

<p>
	<%= f.text_field :country, placeholder: 'Country'%>
</p>

<br>
<p><%= f.submit %></p>	


<% end %>


</div>

<% end -%>