<% content_for :use_user do %>


<% if current_user and current_user == @user %>

<p>Good to see you again, <%= @user.username %>!</p>
<h3><%= "Your Profile Details" %>
<p><%= @user.email %></p>
<p><%= @user.bio %></p>
<p><%= @user.city  + ", " + @user.state + ", " + @user.country %></p>
<p><%= link_to 'Delete Profile', user_path(@user.id), method: :delete, data: {confirm: "Are you sure you wish to delete your profile?"} %></p>
<p><%= link_to "Edit Profile", edit_user_path(@user.id) %></p>

<% else %>
<div class="user_page">

	<div class="user_info">
		<p class="username" ><%= "You are viewing "  + @user.username + "'s" " profile."%></p>
		<h3>Name:</h3>

		<p><%= @user.fname  + " " + @user.lname %></p>

		<h3>Email Address:</h3>
		<p><%= @user.email %></p>

		<h3>Bio:</h3>

		<p><%= @user.bio %></p>

		<h3> City, State/Province, County:</h3>

		<p><%= @user.city  + ", " + @user.state + ", " + @user.country %></p>
		<% end %>
	</div>
	<div class="line"></div>

	<div class="user_post">
		<h3><%= @user.username %>'s Posts</h3>
			<ul style="list-style: none;">
				<% @user.posts.each do |post| %>
					<li class="user_post_list" style="text-decoration: none;"><%= link_to post.title, post %></li>
				<% end %>
			</ul>

<%= link_to 'Back to Users', users_path %> 
	</div>
	</div>
<% end -%>