<% if current_user and current_user == @user %>
<p>Good to see you again, <%= @user.username %>!</p>
<p><%= link_to 'Delete Profile', user_path(@user.id), method: :delete %></p>
<p><%= link_to "Edit Profile", edit_user_path(@user.id) %></p>
<% else %>
<p><%= "You are viewing "  + @user.username + "'s" " profile."%></p>
<p>Name:</p>
<p><%= @user.fname  + " " + @user.lname %></p>
<p>Email Address:</p>
<p><%= @user.email %></p>
<p>Bio</p>
<p><%= @user.bio %></p>
<p> City, State/Province, County</p>
<p><%= @user.city  + " " + @user.state + " " + @user.country %></p>

<% end %>
