<% content_for :use_ do %>
<% if @post.errors.any? %>
	<% @post.errors.full_message.each do |error| %>
	<p style="color: red bold;"><% error %></p>
	<% end%>
<% end %>


<%= form_for @post do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "Enter post title" %>
	</p>
		<p>
		<%= f.label :post_body %>
		<%= f.text_field :post_body, placeholder: "Enter post body" %>
	</p>
	<p>
		<%= f.submit %>
	</p>

	<% end %>
<% end %>