<% content_for :use_posts do %>
	
	<div class="edit_field">
		<% if current_user %>
			<h4>Enter and submit a post below:</h4>
				<%= form_for @post do |f| %>
					<%= f.text_field :title, placeholder: "Enter post title" %><br>
					<%= f.text_area :post_body, placeholder: "Enter post body" %><br>
					<%= f.submit :class => 'submit'%>
					<br>
					<p class="cancel"><%= link_to 'Cancel your post', posts_path %></p>
			
				<% end %>
		<% else %>
			<h5><%= link_to 'Login', login_path %> to comment.</h5>
		<% end %>
	</div>
<% end %>

