<% content_for :use_posts do %>

<h1>Recent Posts</h1>
<div class="table">
<table>
  <tr>
	<td class="thead_title">Title</td>
	<td class="thead_body">Post body</td>
	<td class="thead_username">Username</td>
	<td class="thead_date">Posted on</td>
	</tr>	
	<% @posts.each do |post| %>
  <tr>
    <td class="post_list_title"><%= link_to post.title.truncate(60), post_path(post.id) %></td>
    <td class="post_list_body"><%= post.post_body.truncate(60) %></td>

    <td class="post_list_username"><%= post.user.username %></td>		
    <td class="post_list_date"><%= post.created_at.to_date.strftime("%m/%d/%Y") %></td>
    <% end %>
  </tr>
</table>
</div>
<% if current_user %>
<p class="enter_post"><%=link_to "Click here",  new_post_path %> to Enter a New Post</p>

<% else %>
    <p class ="login_post"> <%= link_to 'Click here', login_path %> to Log in or <%= link_to 'Click here', new_user_path %> to Register to post or comment.</p><br>
<% end %>


<% end -%>

