<% content_for :use_posts do %>

<%= render 'errors' %>

<div class="post_area">
	<p class="post_title">{ <%= @post.title %> }</h1>
	<p class="post_body"><%= @post.post_body %></p>
	  <% if current_user %>
			<p class="edit"><%= link_to 'EDIT', edit_post_path %></p>
			<p class="delete"><%= link_to 'DELETE', post_path(@post.id), method: :delete, data: {confirm: "Are you sure you wish to delete your post?"} %></p>
	  <% end %>
				<!-- <h3><rubytag= time_ago_in_words(post_body.created_at) rubytag></h3> -->
				
				

<% @post.comments.each do |comment| %>
	<p class="comment_body"><%= comment.comment_body %></p>
	<p class="comment_username">By <%= comment.user.username %></p>
<%end %>

	<% if current_user %>
		<h4>Post a comment below:</h4>
				<%= form_for [@post, @comment] do |f| %>
				<%= f.text_area :comment_body, placeholder: "Enter comment here" %><br>
			<%= f.submit :class => 'submit' %>

			<br>
			<p class="cancel"><%= link_to 'Cancel your comment', posts_path%></p>
	<% end %>
	<% else %>
		<p class="loginMsg"><%= link_to 'Login', login_path %> to post or comment.</p>
<% end %>
</div>

<% end %>

