<% content_for :use_posts do %>

<h1>WedLog Posts</h1>

<% if @post.errors.any? %>
	<% @post.errors.full_message.each do |error| %>
	<p style="color: red bold;"><% error %></p>
	<% end%>
<% end %>
<div class="post_area">
	<p class="post_title">Title: <%= @post.title %></h1>
	<p class="post_body">Post: <%= @post.post_body %></p>
			<p class="edit"><%= link_to 'Edit your post', edit_post_path %></p>
			<p class="delete"><%= link_to 'Delete your post', post_path(@post.id), method: :delete, data: {confirm: "Are you sure you wish to delete your post?"} %></p>
				<!-- <h3><rubytag= time_ago_in_words(post_body.created_at) rubytag></h3> -->
				
				
<hr>
<% @post.comments.each do |comment| %>
	<p class="comment"><%= comment.comment_body %> (<%= comment.user.username %>)</p>
<%end %>
<hr>
	<% if current_user %>
		<h4>Post a comment below:</h4>
				<%= form_for [@post, @comment] do |f| %>
				<%= f.text_area :comment_body, placeholder: "Enter comment here" %><br>
			<%= f.submit :class => 'submit' %>

			<br>
			<p class="cancel"><%= link_to 'Cancel your comment', posts_path%></p>
	<% end %>
	<% else %>
		<h5><%= link_to 'Login', login_path %> to post or comment.</h5>
<% end %>
</div>

<% end %>

