<!DOCTYPE html>
<html>
<head>
  <title>Wedlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true if content_for?(:use_welcome) %>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true if content_for?(:use_login) %>
  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track' => true if content_for?(:use_posts) %>
  <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track' => true if content_for?(:use_user) %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" type="text/css" href="/application.css"> -->


</head>
<body>
<div class="logo" ></div>
<header>
 <nav>

  <% if current_user %>
   <h2>Hello <%= current_user.username if current_user %></h2>
   <% else %>
   <% end %>
	<ul style="list-style: none;">
		<li><%= link_to "Home", welcome_path %></li>
    <li><%= link_to "Posts", posts_path %></li>
		
		<% if current_user %>
		<li><%= link_to('Log Out', logout_path, method: :delete) %></li>
		<li><%= link_to "Users", users_path %></li>
		<% else %>
		<li><%= link_to "Log In", login_path %></li>
		<li><%= link_to "Register", new_user_path %></li>
		<% end %>
	</ul>
	
</nav>
</header>
<main>
<% if flash[:notice] %>
    <div class="flash_notice">
      <%=flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash_alert">
      <%=flash[:alert] %>
    </div>
  <% end %>
<%= yield %>
<%= yield :use_welcome %>
<%= yield :use_posts %>
<%= yield :use_login %>
<%= yield :use_user %>


</main>
<footer>

</footer>
</body>
</html>